.largefont, .largefont p{font-size:16px;}
.skt-windows-door-notice-container{width:100%; padding:15px 0 15px 0;}
.skt-windows-door-notice-img{float:left; text-align:left; width:13%;}
.skt-windows-door-notice-content{float:left; text-align:left; width:85%; padding-top:33px;}
.skt-windows-door-notice-heading{font-size:20px; font-weight:600;}
.skt-windows-door-clear{clear:both;}